@import "reset";
@import "variables/global";

.app {
    min-height: 100vh;
    padding-top: 70px; // чтобы header не закрывал контент на странице
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}
