.ConfirmOrder {
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background-color: #0066CC;
    padding: 10px 10px;
    border: 2px solid #0066cc;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 1px;
    transition : 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    &:hover {
        transition : 200ms;
        background-color: #5fe13b;
        border: solid 2px #5fe13b;
    }

    &:disabled {
        background-color: #9b99a0;
        border-color: black;
        cursor: not-allowed;
    }
}
