.DrugDescription {

}

.content {
    display: flex;
}

.cover {
    width: 530px;
    height: 350px;
    img {
        display: block; // need or not?
        height: 100%;
        margin: 0 auto;
    }
}

.title {
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
}

.cost {
    font-size: 20px;
    margin-top: 10px;
}

.description {
    font-size: 18px;
}

.wrapper {
    max-width: 400px;
}
